main{

    padding-top: 15px;

    div{
        width: 80%;
        margin: auto;
        h1{
            margin: 15px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border: 0.5px solid rgb(209, 13, 248);

            th, td{
                padding: 5px;
               
            }
            td:last-child{
                display: flex;
                justify-content: center;

                button{
                    margin: 2px;
                    background-color: rgb(178, 142, 212);
                    border: 0.2px solid pink;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
        }
    }
}