nav{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(240, 236, 236);
}

a:hover{
    text-decoration: underline 
}