nav{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(238, 16, 16);
}

a:hover{
    text-decoration: underline 
}